.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.1em 2em;
  border-radius: 0.6em;
  background: var(--primary);
  font-weight: bold;
  color: white;
  font-size: 0.85em;
  transition: all .4s ease;
  margin-right: 1.5em;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background: var(--primary-hover);
}

.button__icon {
  max-height: 1.3em;
  margin: 0 .5em -5px 0;
}
