.navbar {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
  padding: 35px 0;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin: 0 20px;
}

.navbar__item:hover::after, .navbar__item--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #292640;
  bottom: -2px;
  left: 0;
}

.navbar__logo {
  max-height: 2.5em;
}
